body{
  color: #000;
  font-size: 18px;
  font-family: $font-family-main;

  background-image: url(images/marble-bg-left.jpg);
  background-repeat: repeat-y;
  background-position: left top;

  @include media-breakpoint-up(lg){
    background-image: url(images/marble-bg-left.jpg), url(images/marble-bg-right.jpg);
    background-repeat: repeat-y, repeat-y;
    background-position: left top, right top;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-family-sans;
  font-weight: $font-weight-bold;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 28px;
}
h4{
  font-size:24px;
}

a{
  transition: all .3s ease;
  color: $brand-color;

  &:hover,
  &:focus{
    color: $alt-color;
    text-decoration:none;
  }
}

article{
  margin-top:40px;
  margin-bottom:40px;
}

.btn-main{
  display: inline-block;
  color: #fff;
  font-size: 26px;
  font-family: $font-family-sans;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-align: center;
  background-color: $brand-color;
  padding:5px 40px;
  border:none;
  border-radius:0;

  &.btn-lg{
    font-size: 40px;
  }

  &.btn-block{
    display: block;
  }

  &.btn-light{
    background-color: $brand-color-light;
  }

  &:hover,
  &:focus{
    text-decoration: none;
    background-color: $alt-color;
    color: #fff;
  }
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index:1;
  background-color: rgba(0, 0, 0, .5);

  &.green{
    background-color: rgba(36, 66, 14, .5);
  }
}

.section-title{
  text-align: center;
  margin-bottom:40px;
  color: $alt-color;
}

#latest-news{
  padding-top:40px;
  padding-bottom:80px;
}

.latest-loop{
  .card{
    border:none;
    margin-top: 25px;
    background-color: transparent;

    .card-body{
      padding: 0;
      margin-top:10px;
    }

    .card-title{
      font-size: 22px;
      color: $brand-color;
      margin-bottom:5px;
    }

  }
}
.read-more{
  color: #000;
  font-style: italic;
  font-weight: $font-weight-semibold;
}

#contact{
  margin-top:100px;

  .image-side{
    @include media-breakpoint-up(lg){
      img{
        margin-left:35%;
        margin-top: -8%;
      }
    }
  }

  .text-side{
    background-color: $brand-color;
    padding: 15px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md){
      justify-content: center;
    }
  }

  .contact-form{
    max-width:400px;

    h4{
      color:#fff;
      margin-bottom:25px;
    }

    .form-control{
      border-radius: 0;
    }
  }
}

#contact-us{
  background-image: url(images/leaf-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;

  .contact-form{
    max-width: 440px;
    margin-left:auto;
    margin-right: auto;
    background-color: $alt-color;
    padding:15px;

    h4{
      font-size: 18px;
      color: #fff;
      font-weight: $font-weight-normal;
    }
  }

  .form-control{
    border-radius: 0;
  }

  label{
    color: #fff;
  }
}

#affiliations{
  background-color: #fff;
  padding-top:40px;
  padding-bottom:40px;

  .affiliation-list{
    list-style: none;
    padding-left: 0;
    text-align: center;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    li{
      display:inline-block;
      margin: 25px;
    }
  }
}

#blog-loop{
  margin-top: 80px;
  margin-bottom: 80px;

  .blog-loop-item{
    margin-bottom: 25px;

    img{
      align-self: center;
      margin-right:30px;
      max-width:150px;
      width:100%;
      height:auto;
    }

    .media-body{
      align-self: center;
    }
  }

  .archive-loop{
    @include media-breakpoint-up(lg){
      border-right: 2px solid #a6a6a6;
    }
  }
}

#blog-sidebar{
  .sidebar-section{
    margin-bottom:40px;
  }

  h3{
    font-size: 26px;
    color: $brand-color;
  }

  ul{
    list-style: none;
    padding-left:0;

    a{
      color: #000;

      &:hover{
        color: $alt-color;
      }
    }
  }
}

#faqs{
  margin-bottom:100px;
}
#faqs-accordion{
  .card{
    border:none;
    border-radius: 0;
    background-color: transparent;
  }

  .card-header{
    border: none;
    background-color: transparent;
    padding-left:75px;

    h3{
      font-size: 26px;
    }

    a{
      position: relative;

      &.collapsed::before{
        content: "\002b";
        left:-75px;
        top: 18px;
        font-size: 85px;
        font-weight: $font-weight-normal;
      }
      &::before{
        position: absolute;
        content: "\002d";
        left: -70px;
        top: 2px;
        font-size: 140px;
        line-height: 0em;
        color: $alt-color;
        font-weight: $font-weight-normal;
      }

    }
  }

  .card-body{
    padding-left:75px;
    padding-top:0;
  }
}