$font-family-main: "semplicitapro", sans-serif;
$font-family-serif: "Crimson Text", serif;

$font-weight-normal: 400;
$font-weight-semmibold: 600;
$font-weight-bold: 700;

$brand-color: #37b34a;
$brand-color-light: #8cc63f;
$alt-color: #25a9e0;