$font-family-main: "Crimson Text", serif;
$font-family-sans: "semplicitapro", sans-serif;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$brand-color: #37b34a;
$brand-color-light: #8cc63f;
$alt-color: #25a9e0;